.projects-main {
    position: absolute;
    top: 7%;
    left: 4%;

    

}


.image2 {

    position: absolute;
    top: 7%;
    left: 4%;
    
}


  .image-container {
    position: absolute;

    cursor: zoom-in;

 
     width: 20vmax;
    height: 21vh;


  

  }

  
  .image-container.open {
    cursor: zoom-out;
  }
  
  .image-container .shade {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    opacity: 0;
    background: rgba(0, 0, 0, 0.9);
  }
  
  .image-container.open .shade {
    pointer-events: auto;
    opacity: 1;
   
  }
  
  .image-container img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
  
  .image-container.open img {
    position: fixed;
    width: auto;
    height: auto;
    max-width: 100vh;
    margin: auto; 
    z-index: 999;
  }



.mapbox {
  position: absolute;
  top: 146px;
  left: 4%;
  width: 273px;
  height: 50px;
  background-color: rgb(135, 134, 134);

  border-radius: 0 0 10px 10px;
  color: black;
}

.mapbox_main {
  position: absolute;
  left: 53%;
  
  width: 295px;
  background-color: #5072A7 ;
  height: 210px;
  bottom: 173px;
  border-radius: 10px;
}

.span_mapbox {
  font-weight: bold;
  margin-left: 10px;


}

.mubi {
  position: absolute;
  top: 132px;
  left: 4%;
  width: 273px;
  height: 50px;
  background-color: rgb(135, 134, 134);

  border-radius: 0 0 10px 10px;
  color: black;
}


.gith {
  width: 40px;

}
.github_mubi {
  position: absolute;
  left: 80%;
  top: 20%;
  width: 20px;
  height: 20px;
}

.mubi_main {
  position: absolute;
  left: 76%;
  
  width: 295px;
  background-color: #5072A7 ;
  height: 210px;
  bottom: 173px;
  border-radius: 10px;
}

.span_mubi {
  font-weight: bold;
  margin-left: 10px;


}

@media screen and (max-width: 1110px){
  .mapbox_main{
    top: 1030px;
    left: 13%;
    width: 240px;
   
  }

  .image-container img {
    width: 220px;
    height: 130px;
  }

  .mapbox {
    width: 222px;
  }

  .mubi_main{
    top: 700px;
    left: 13%;
    width: 240px;
    margin-top: 30px;
  }
  .mubi_main {
    top: 1230px;
  }

  .mubi {
    width: 222px;
  }

  .image-container.open img {
    position: fixed;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 60%;
    margin: auto 20px auto 0px;
  }
  
  .image-container.open .shade {
    pointer-events: auto;
    opacity: 1;
   left: 0%;
  }



  

}
